<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志存放路径 -->
    <property name="log.path" value="/Users/chochae/log"/>
    <!-- 日志输出格式 -->
    <property name="log.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - [%method,%line] - %msg%n"/>

<!--    <property name="log.pattern2"-->
<!--              value="2222222222 %d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - [%method,%line] - %msg%n"/>-->

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="console2" class="ch.qos.logback.core.ConsoleAppender" >
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>


<!--    <appender name="console2" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>${log.pattern2}</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">-->
<!--        &lt;!&ndash; Graylog服务的地址 &ndash;&gt;-->
<!--        <graylogHost>8.129.191.227</graylogHost>-->
<!--        &lt;!&ndash; UDP Input端口 &ndash;&gt;-->
<!--        <graylogPort>12201</graylogPort>-->
<!--        &lt;!&ndash; 最大GELF数据块大小（单位：字节），508为建议最小值，最大值为65467 &ndash;&gt;-->
<!--        <maxChunkSize>508</maxChunkSize>-->
<!--        &lt;!&ndash; 是否使用压缩 &ndash;&gt;-->
<!--        <useCompression>true</useCompression>-->
<!--        <encoder class="de.siegmar.logbackgelf.GelfEncoder">-->
<!--            &lt;!&ndash; 是否发送原生的日志信息 &ndash;&gt;-->
<!--            <includeRawMessage>false</includeRawMessage>-->
<!--            <includeMarker>true</includeMarker>-->
<!--            <includeMdcData>true</includeMdcData>-->
<!--            <includeCallerData>false</includeCallerData>-->
<!--            <includeRootCauseData>false</includeRootCauseData>-->
<!--            &lt;!&ndash; 是否发送日志级别的名称，否则默认以数字代表日志级别 &ndash;&gt;-->
<!--            <includeLevelName>true</includeLevelName>-->
<!--            <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">-->
<!--                <pattern>%m%nopex</pattern>-->
<!--            </shortPatternLayout>-->
<!--            <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">-->
<!--                <pattern>%d - [%thread] %-5level %logger{35} - %msg%n</pattern>-->
<!--            </fullPatternLayout>-->
<!--            &lt;!&ndash; 配置应用名称（服务名称），通过staticField标签可以自定义一些固定的日志字段 &ndash;&gt;-->
<!--            <staticField>app_name:backend</staticField>-->
<!--            <staticField>os_arch:${os.arch}</staticField>-->
<!--            <staticField>os_name:${os.name}</staticField>-->
<!--            <staticField>os_version:${os.version}</staticField>-->
<!--        </encoder>-->
<!--    </appender>-->



    <!-- Spring日志级别控制  -->
    <logger name="org.springframework"  />

    <logger name="com.example.mq">
<!--        <appender-ref ref="console2"/>-->
    </logger>

    <root level="debug">
        <appender-ref ref="console2"/>
        <!--        <appender-ref ref="GELF"/>-->
    </root>

    <root level="info">
        <appender-ref ref="console"/>
<!--        <appender-ref ref="GELF"/>-->
    </root>





</configuration> 
