<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="tt" converterClass="com.example.mq.log.LogConfig" />
    <!-- 日志存放路径 -->
    <property name="log.path" value="/Users/chochae/log"/>
    <!-- 日志输出格式 -->
    <property name="log.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - [%method,%line] - [%tt] - %msg%n"/>

<!--    <property name="log.pattern2"-->
<!--              value="2222222222 %d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - [%method,%line] - %msg%n"/>-->

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="console2" class="ch.qos.logback.core.ConsoleAppender" >
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>




    <!-- Spring日志级别控制  -->
<!--    <logger name="org.springframework"  />-->

<!--    <logger name="com.example.mq">-->
<!--        <appender-ref ref="console2"/>-->
<!--    </logger>-->

    <root level="info">
        <appender-ref ref="console2"/>
        <appender-ref ref="console"/>
        <!--        <appender-ref ref="GELF"/>-->
    </root>







</configuration> 
